*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html{
    min-height: 100vh;
    height: 100%;
    font-family: 'Itim', cursive;
    
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: 100%;
    padding: 80px 30px;
    background-image: url(https://camo.githubusercontent.com/9bd43fa9e82fa853a2fa8d0747f6661e46fefa0d4c88278d6614b621bf97655d/68747470733a2f2f692e7974696d672e636f6d2f76692f6262756a55394a703668302f6d617872657364656661756c742e6a7067);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

form{
    display: flex;
    flex-direction: column;
    padding: 40px;
    margin-bottom: 50px;

    background-color: #FFFAF0;
    box-shadow: 10px 10px #2D3748;
}

form label{
    font-size: 20px;
}

form input{
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: 3px solid #2D3748;
    margin-left: 7px;
    font-size: 15px;
    font-weight: bold;
}

form input::placeholder{
    font-weight: 600;
    color: #5a5d61;
}

form button{
    background-color: #2D3748;
    color: #fff;
    padding: 8px;
    font-weight: bold;
    font-size: 15px;
    outline: none;
    border: none;
    box-shadow: 6px 7px #DD6B20;
    margin-top: 20px;
    transition: all .2s;
}

form button:hover{
    cursor: pointer;
    background-color: #DD6B20;
    box-shadow: 6px 7px #2D3748;
}

.clientes{
    background-color: #FFFAF0;
    box-shadow: 10px 10px #2D3748;
    padding: 30px;
}

.cliente{
    display: flex;
    align-items: center;
}

.cliente-info{
    margin-right: 10px;
}

.cliente span{
    font-size: 35px;
    color: red;
    font-weight: bold;
    transition: all .2s;
}

.cliente span:hover{
    color: rgb(99, 0, 0);
    cursor: pointer;
}